body {
  background-color: #e3e4e5;
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../img/Geisel_Banner_Image.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 400px;
  width: 1639.2px;
  top: -20px;
  border: 2px solid #000;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}

#header-text h1 {
  color: #FFF;
}

#header-text h2 {
  color: #FFF;
  font-style: italic;
}
.content {
  margin: 0% 10%;
  min-width: 1300px;
  min-height: 1000px;
  position: relative;
  top: -20px;
  background-color: #FFF;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-bottom: 120px;
  font-family: 'Oswald', sans-serif;
}

figure {
  float: right;
  font-size: 10pt;
}

#overview-content img {
  margin-left: 25%;
}

#background-content figure {
  width: 600px;
}

#implementeddesign-content figure {
  width: 600px;
}

#results-content figure {
  width: 650px;
}

.button {
  margin-left: 1%;
  text-align: center;
  border: 2px solid #ffc802;
  border-radius: 10px;
  width: 250px;
  height: 50px;
  position: relative;
  top: 145px;
  left: 0;
  line-height: 10px;
  float: left;
  font-family: 'Oswald', sans-serif;
  color: #000;
  background: #F9FD48; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #fff99e,#faff44 ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #fff99e, #faff44); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #fff99e, #faff44); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #fff99e, #faff44); /* Standard syntax */
}

#logos {
  position: absolute;
  bottom: 0px;
}

.mouseover {
  background: #F9FD48; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #faff44,#fff99e ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #faff44,#fff99e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #faff44,#fff99e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #faff44,#fff99e); /* Standard syntax */
}

.active {
  background: #FFF;
}
